<form [formGroup]="showForm" (ngSubmit)="onAddShow()">
  <div class="form-group">
    <label for="movieId">Select movie</label>
    <select class="form-control" matInputclass="form-control">
      <option
        (click)="onClick(movie)"
        *ngFor="let movie of movielist"
        value="movie"
      >
        {{ movie.title }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="roomId">Select room</label>
    <select class="form-control" id="roomId">
      <option
        (click)="onRoomClick(room)"
        *ngFor="let room of rooms"
        value="room"
      >
        {{ room.room }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <input
      name="date"
      formControlName="date"
      class="form-control"
      id="date"
      type="datetime-local"
      value=""
    />
  </div>

  <button type="submit" class="btn btn-danger" style="margin-top: 30px">
    Submit
  </button>
</form>
