table,
th,
td {
  border: 1px solid darkgray;
  padding: 1em;
}

th {
  background-color: gainsboro;
  color: darkslategrey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}

.selected {
  background-color: moccasin;
}
.details {
  margin: 2%;
  font-size: x-large;
  border: solid darkslategray 1px;
  width: 50%;
  padding: 1%;
  border-radius: 16px;
}

.details div {
  margin: 1%;
}
