<div className="justifyView">
    <table>
            <thead>
                <tr>
                    <th *ngFor="let film_th of headers">
                        <span class="theader">{{film_th}}</span></th>
                </tr>
            </thead>
            <tr *ngFor="let film of filmList" [class.selected]="film===selectedFilm">
                <td (mouseenter)="onSelect(film)"><span class="tbody">{{film.title}}</span></td>
                <td style="width: 25%;"(mouseenter)="onSelect(film)"><span class="tbody">{{film.category}}</span></td>
                <td style="width: 15%;"(mouseenter)="onSelect(film)"><span class="tbody">{{film.duration}}</span></td>
                <td style="width: 20%;"(mouseenter)="onSelect(film)"><span class="tbody">{{film.Date}}</span></td>
                <td style="width: 20%;"(mouseenter)="onSelect(film)"><span class="tbody">{{film.time}}</span></td>
                <td style="width: 10%;"(mouseenter)="onSelect(film)"><span class="tbody">{{film.hall}}</span>
            </td>
        </tr>
    </table>

    <div class="details" *ngIf="selectedFilm!=null">
        <div>{{selectedFilm.title}}</div>
        <div>{{selectedFilm.category}}</div>
        <div>{{selectedFilm.duration}}</div>
    </div>
</div>