<div>
  <mat-toolbar color="primary">
    <span>Cinema project </span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <a routerLink="" mat-button>Movies</a>
      <a routerLink="filmshows" mat-button>Film shows</a>
      <a routerLink="movieadd" mat-button>Add movie</a>
      <a routerLink="filmshowadd" mat-button>Add film show</a>
      <a routerLink="roomadd" mat-button>Add screening room</a>
    </div>
  </mat-toolbar>
</div>
